<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Almuerz-O-Matic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <script src="js/angular.min.js"></script>
    <script src="js/almuerzo.js"></script>
  </head>
  <body>

    <div class="container" ng-controller="Almuerzo">

      <h1>Almuerz-O-Matic</h1>

      <h2>Comidas</h2>
      
      <table class="table">
        <thead>
          <tr><th>Item</th><th>Precio</th></tr>
        </thead>
        <tbody>
          <tr ng-repeat="comida in comidas">
            <td><input ng-model="comida.name"></td><td><input type="number" ng-model="comida.cost"></td>
            <td><button ng-click="menosComida($index)" type="button" class="close" aria-hidden="true">&times;</button></td>
          </tr>
          <tr><td><strong>Total</strong></td><td>{{ costoTotal() }}</td></tr>
        <tabody>
      <table>
      <button ng-click="masComida()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Más comida!</button>
      
      <h2>Comensales</h2>

      <table class="table">
        <thead>
          <tr><th>Nombre</th>
          <th ng-repeat="comida in comidas">{{ comida.name }}</th>
          <th>A pagar</th><th>Pagado</th><th>Vuelto</th></tr>
        </thead>
        <tbody>
          <tr ng-repeat="comensal in comensales">
            <td><input ng-model="comensal.name"></td>
            <td ng-repeat="comida in comidas"><input type="checkbox" ng-model="comensal.comidas[comida.name]"></td>
            <td>{{ aPagar($index) }}</td>
            <td><input type="number" ng-model="comensal.paid"></td>
            <td>{{ comensal.paid - aPagar($index)}}</td>
            <td><button ng-click="menosComensales($index)" type="button" class="close" aria-hidden="true">&times;</button></td>
          </tr>
          <tr><td><strong>ppp</strong></td>
            <td ng-repeat="comida in comidas">{{ precioPorPera($index) }}</td>
          </tr>
        <tabody>
      <table>
      <button ng-click="masComensales()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> 1</button>

    </div>

    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
